[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [
    "D",
    "E",
    "F",
    "UP",
    "B",
    "SIM",
    "I",
]
ignore = ["D401"]

[tool.pytest.ini_options]
python_files = "Tests*.py"
python_classes = "Test*"
python_functions = "test_*"
testpaths = ["TP/tests"]
